@page
@model Ropot_Anastasia.Pages.Examene.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de examene</h1>

<p>
    <a asp-page="Create">Adaugare disciplina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Examen[0].Materie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen[0].Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen[0].DataExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen[0].Profesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen[0].ProfesorCurs)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Examen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materie)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataExamen)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfesorCurs.Nume_ProfesorCurs)
                </td>

            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
